<div id="concerns">
    <h1>Post Your concer</h1>
    <form  action="http://localhost:4200/users/concern" method="post">
        <input type="text" name="title" >
        <textarea type='text' name="description" ></textarea>
        <input type="submit" value="post"/>
    </form>
</div>