

<div id="concerns">
  <lable>Concern :</lable> <h2 id="title">concern</h2> 
  <lable>description :</lable> <p id="description">concern</p> 
  <lable>Create BY :</lable> <h3 id="created-by"></h3> 
  <lable>Bids  :</lable> <ul id="bids"></ul> 

    <form id="bidForm"action="/placebid" method="POST">
        <input type="number" requrie id='price' name="price" >
        <input type="text" id='notes' name="notes" >
        <input type="button" onclick="placebid()"  value="Place Bid">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script>
    let id='{{id}}';
   
    let bidsArry=[];
    let bidslist= document.getElementById('bids');
    let appendList=function(){
 if(bidsArry.length >0 ){
     bidslist.innerHTML='';
    for(let bid of bidsArry){
        let li = document.createElement('LI');
        let text= document.createTextNode(`${bid.doctor.username} ::${bid.notes}:: ${bid.price}`)
        li.appendChild(text);
        bidslist.appendChild(li);
    };
    }
    else{
       let li = document.createElement('LI');
        let text= document.createTextNode(`No bids Yet`)
        li.appendChild(text);
        bidslist.appendChild(li);
    }

}
    let socket= io('http://localhost:4200/room',{transports: ['polling','websocket']});
socket.on('connect',(s)=>{
   console.log(`connection to conernroom with id: `);
});



//socket.open();
socket.emit('getconcern',id);
 socket.on('concern',(concern)=>{
     bidsArry=concern.bids;
     console.log(`connection to conernroom with id:`,concern);
    let titleh= document.getElementById('title');
    let title= document.createTextNode(concern.title);
    titleh.appendChild(title);


    let descriptionp= document.getElementById('description');
    let description= document.createTextNode(concern.description);
    descriptionp.appendChild(description);


    let postedby= document.getElementById('created-by');
    let name= document.createTextNode(concern.postedBy.username);
    postedby.appendChild(name);

appendList();
});

const placebid = function(){
let price =document.getElementById('price').value;
let notes =document.getElementById('notes').value;
let doctorId='{{doctorId}}'
let roomId='{{id}}'
console.log(`bid placed :$${price} by {{doctorId}} included notes ${notes}`)
socket.emit('newbid',{id:roomId,price:price,doctorId:doctorId,notes:notes})
console.log(`socketd emitted newbid`);

}


socket.on('newbidadded',(bidObj)=>{
    console.log('new bid arrived',bidObj);
    
    if(bidObj.index >= 0 ){
        bidsArry.splice(bidObj.index,0,bidObj.bid);
    }
        /*let newli = document.createElement('LI');
        let newtext= document.createTextNode(`${bidObj.bid.doctor.username} :::${bidObj.bid.notes}:::: ${bidObj.bid.price}`)
        newli.appendChild(newtext);
        bidslist.appendChild(newli);*/
        console.log(`calling appendList in newbidadded`,bidsArry);
        appendList();
    
});



</script>