
        <a>login</a><a href='http://localhost:4200/users/signup'>SignUp</a>
        <div>
            <form action='http://localhost:4200/users/login' method='post'>
               
                  <input type="radio" name="role" value="user">:user<br>
                  <input type="radio" name="role" value="doctor">:docto<br>
                  
                    
                <input type='email' required name='email'  placeholder='Please enter your email address'/>
                <input type='password' required name='password' placeholder='Please enter your password'/>
                <input type='submit' value='Login'/>
            </form>
        </div>
    