
        <a href='http://localhost:4200/users/login'>login</a>
        <div>
            <form action='http://localhost:4200/users/signup' method='post'>
                <input type="radio" name="role" required value="user">:user<br>
                  <input type="radio" name="role" required value="doctor">:docto<br>
                <input type="radio" name="gender" required value="male"> Male<br>
                  <input type="radio" name="gender" required value="female"> Female<br>
                <input type='text' required name='name'  placeholder='Please enter your Full name'/>
                <input type='email' required name='email'   placeholder='Please enter your email address'/>
                <input type='password' required name='password' placeholder='Please enter your password'/>
                <input type='submit' value='Login'/>
            </form>
        </div>
        
